on:
  push:
    branches:
      - master
  pull_request:
jobs:
  ci:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: make ci
        env:
          GITHUB_TOKEN: ${{ secrets.GH_READ_ACCESS_TOKEN }}
